body {
  font-family: sans-serif;
  margin: 20px;
}

h1 {
  text-align: center;
}

select {
  padding: 5px 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.average-data {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.average-data h3 {
  margin-bottom: 5px;
}

.average-data pre {
  white-space: pre-wrap;
  background-color: #eee;
  padding: 5px;
  border-radius: 4px;
}
